div img{
    height: 100px;
    width: 100px;
}
div{
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(5, 5, 5, 0.15);
    border-radius: 15px;
    text-align: center;
}
section{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
}
h1{
    font-size: 5rem;
}